<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
    <head>
        
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-162296898-1"></script>
	<script>
  	window.dataLayer = window.dataLayer || [];
  	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());
  	gtag('config', 'UA-162296898-1');
	</script>

	<link rel="stylesheet" href="{{ url_for('static', filename='styles/template.css') }}">
	<title>감성티켓</title>
    </head>
    <body>
        <h1 id='logo'>감성티켓</h1>
        <div class = 'intro'>
            <h3>21세기에 날아온 감성티켓</h3>
            <h4>원하는 영상을 정사각형 티켓으로...</h4>
        </div>
        <div>
        <form class = 'inputform' method="POST" action="/maketicket">
            <h2>만들기</h1>
            <p>영상제목</p>
            <input type="text" class ="form-control" name = 'video-title'>
            <p>플랫폼(유투브, 넷플릭스 등...)</p>
            <input type="text" class ="form-control" name = 'platform'>
            <p>장소</p>
            <input type="text" class = "form-control" name = 'place'>
            <p>총 인원</p>
            <input type="text" class ="form-control" name ='people'>
            <p>테마</p>
            <label><input type="radio" name="theme" value="ticket_hand_pink" checked>손글씨 테마(보라)</label><br>
            <label><input type="radio" name="theme" value="ticket_hand_orange">손글씨 테마(주황)</label><br>
            <label><input type="radio" name="theme" value="ticket_hand_skyblue">손글씨 테마(하늘)</label><br>
            <label><input type="radio" name="theme" value="ticket_retro">레트로 테마</label><br><br>
            <button type="submit">만들기</button>
        </div>  
    </body>
</html>
