
<html>
    <head>
    </head>
    <body>
    <div class='ticket'>
        <h2 id='logo'>감성티켓<h2>
        <p id ='created-time'>{{ Thistime }}</p>
        <div id='movieinfo'>
        <h2>{{ video_title }}({{ platform }})</h2>
        <p>{{ place }}</p>
        <p>총 {{ people }}명</p>
        </div>
        <p id ='line'>==================================================</p>
        <p id = 'mid-text'>하고 싶은 말</p>
        <p id ='line'>==================================================</p>
        <div id = 'brandbox'>
            <p>1.</p>    
            <p>2.</p>    
            <p>3.</p>
        </div>
        <p id ='line'>==================================================</p>
        <p id ='footerlogo'>Gamseongticket</p>
    </div>
    </body>
</html>
