        @font-face { font-family: 'DungGeunMo'; 
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff'); 
        font-weight: normal; 
        font-style: normal; }
        @font-face { font-family: 'MiraeroNormal'; 
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/MiraeroNormal.woff') format('woff'); 
        font-weight: normal; 
        font-style: normal; }
        @font-face { font-family: 'DOSGothic'; 
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff'); 
        font-weight: normal; 
        font-style: normal; }
        body{
            margin: 0;
            padding:0;
        }
 .ticket{
        width: 500px; height: 500px;
        font-family: 'MiraeroNormal';
        background-color: rgb(2, 28, 179);
        color:rgb(228, 228, 228);
        line-height : 70%;
        word-break:break-all;
        }
        
        #logo{
            font-family: 'MiraeroNormal';
            text-align: center;
            line-height: 200%;
            color: #ffe240;
            text-shadow: 2.5px 2.25px #ff57cd;
        }
        
        #line{
            font-family: 'MiraeroNormal';
            font-size: 20px;
        }
        .ticket #movieinfo{
            font-family: 'DungGeunMo';
            line-height: 35%;
            text-shadow: 3.5px 2px #34bbd3;
        }
        
        .ticket #midtext{
            font-size: 20px;
        }
        
        #footerlogo{
            font-size: 20px;
            font-family: 'MiraeroNormal';
            text-align: center;
        }
        
        .ticket #brandbox{
            line-height: 175%;
            color:rgb(0, 26, 255); 
            font-size: 10px;
            padding : 1%
        }